@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #007bff;
    color: #eee;
    text-align: center;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
}


img{
    max-width: 290px;
    display: block;
    margin: auto;
}
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.intro, .services, .contact {
    padding: 20px;
    text-decoration: none;
}

.intro h2, .services h2, .contact h2 {
    margin-bottom: 10px;
}

.services p{
    align-items: center;
    align-content: center;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
}

.social-icons a:hover {
    color: red; 
}
